@use 'src/styles/utils' as *;

.text-button {
    color: var(--gray-800);

    &_icon {
        gap: fluid(16px);
        display: flex;

        &::before {
            aspect-ratio: 1;
            content: '';
            width: fluid(24px);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &_load-icon {
        &::before {
            rotate: 0deg;
            background-image: url('/media/icons/load.svg');
            @include transition(rotate);
        }
        &:hover::before {
            rotate: 180deg;
        }
    }
}
