@use 'src/styles/utils' as *;

.button {
    gap: 4px;
    padding: fluid(10px) fluid(20px);
    display: flex;
    color: var(--gray-600);
    font: var(--font-base-bold);
    border-radius: 4px;
    border-width: 1px;
    border-color: transparent;
    @include transition((border-color, color));

    &::after {
        content: attr(data-number);
        display: block;
        font-size: fluid(1rem, 10);
        font-weight: 600;
        line-height: 1.5;
    }

    &_active,
    &:hover {
        color: var(--primary);
        border-color: var(--primary);
    }
}
