@use "src/styles/utils" as *;

.input {
    --pd-x: #{fluid(16px)};
    --icon-size: #{fluid(16px)};
    position: relative;
    padding: fluid(14px) 0;
    padding-right: calc(var(--pd-x) + var(--icon-size) + #{fluid(15px)});
    padding-left: var(--pd-x);
    width: 100%;
    height: fit-content;
    font: var(--font-small);
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-position: center right var(--pd-x);
    background-size: var(--icon-size);
    border-radius: 4px;
    border: 1px solid var(--gray-600);
    @include transition((border-color));

    &::placeholder {
        color: var(--gray-600);
        opacity: 1;
    }

    &:focus {
        border-color: var(--gray-900);
    }
}
