@use "src/styles/utils" as *;

.list-section {
  &__top {
    margin-bottom: fluid(60px);
    display: flex;
    justify-content: space-between;

    .input {
      max-width: fluid(315px);
    }
  }

  &__categories-list {
    display: flex;
    gap: 12px;
  }
}
