@use "src/styles/utils" as *;

.list-section {
  &__top {
    margin-bottom: fluid(60px);
    display: flex;
    justify-content: space-between;

    .input {
      max-width: fluid(315px);
    }
  }

  &__categories-list {
    display: flex;
    gap: fluid(12px);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(30px);
  }

  &__load-more-button {
    margin: fluid(80px) auto 0;
  }
}
