@use "sass:math";

@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function fluid($value, $mod: 1) {
  $num: strip-unit($value);
  $unit: math.unit($value);

  @return calc(#{$num} * #{$mod} * var(--screen-delta) + #{$value});
}

@mixin transition($property, $duration: 0.3s, $timing: ease-in-out) {
  transition-timing-function: $timing;
  transition-duration: $duration;
  transition-property: $property;
}
