@use "src/styles/utils" as *;

.tag {
    padding: 1px fluid(8px);
    color: var(--bg);
    font: var(--font-small);
    background-color: var(--info);
    border-radius: fluid(4px);

    &_primary {
        background-color: var(--primary);
    }
    &_danger {
        background-color: var(--danger);
    }
    &_success {
        background-color: var(--success);
    }
    &_info {
        background-color: var(--info);
    }
    &_info-light {
        background-color: var(--info-light);
    }
    &_warning {
        background-color: var(--warning);
    }
    &_warning-light {
        background-color: var(--warning-light);
    }
}
