@use 'src/styles/utils' as *;

.course-card {
    &__price {
        color: var(--danger);
        font: var(--font-large-bold);
    }

    &__author {
        color: var(--gray-700);
        font: var(--font-large-bold);

        &::before {
            content: '|';
            margin-right: fluid(8px);
        }
    }
}
